{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/plants/plant-details.css' %}" />
{% endblock %}
{% block content %}
    <section class="plant-container">
        <div class="plant-img">
            <img src="{% static 'images/placeholder.svg' %}" alt="A skater boy cat" />
        </div>
        <div class="plant-details">
            <h1>{{ plant.title }}</h1>
            <h2>{{ plant.subject }}</h2>
            <p>{{ plant.description }}</p>
            <div class="plant-actions">
                <a href="{% url 'plant-update' plant.id %}" class="btn warn">Edit</a>
                <a href="{% url 'plant-delete' plant.id %}" class="btn danger">Delete</a>
            </div>
        </div>
    </section>
    <!-- Existing cat-container above -->
    <div class="feedings-toy-container">
        <section class="feedings">
            <div class="subsection-title">
                <h2>Messages</h2>
            </div>
            <!-- Add just above the messages table -->
            <h3>Add a Message</h3>
            <form action="{% url 'add-message' plant.id %}"
                  method="post"
                  class="subsection-content"
                  autocomplete="off">
                {% csrf_token %}
                {{ message_form.as_p }}
                <button type="submit" class="btn submit">Add Message</button>
            </form>
            {% if plant.message_set.all.count %}
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message in plant.message_set.all %}
                            <tr>
                                <td>{{ message.date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="subsection-content">
                    <p>⚠️ {{ plant.title }} has not been watered!</p>
                </div>
            {% endif %}
        </section>
    </div>
{% endblock %}
