{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/plants/plant-details.css' %}" />
{% endblock %}
{% block content %}
    <section class="plant-container">
        <div class="plant-img">
            <img src="{% static 'images/sk8r-boi-cat.svg' %}" alt="A skater boy cat" />
        </div>
        <div class="plant-details">
            <h1>{{ plant.name }}</h1>
            {% if plant.age > 0 %}
                <h2>A {{ plant.age }} year old {{ plant.breed }}</h2>
            {% else %}
                <h2>A {{ plant.breed }} kitten.</h2>
            {% endif %}
            <p>{{ plant.description }}</p>
            <div class="plant-actions">
                <a href="{% url 'plant-update' plant.id %}" class="btn warn">Edit</a>
                <a href="{% url 'plant-delete' plant.id %}" class="btn danger">Delete</a>
            </div>
        </div>
    </section>
    <!-- Existing cat-container above -->
    <div class="feedings-toy-container">
        <section class="feedings">
            <div class="subsection-title">
                <h2>Waterings</h2>
                <img src="{% static 'images/cat-cone.svg' %}" alt="An ice cream cone cat" />
                <img src="{% static 'images/cat-onigiri.svg' %}" alt="A cat as onigiri" />
                <img src="{% static 'images/kitty-kabob.svg' %}" alt="A kabob of kittens" />
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for watering in plant.watering_set.all %}
                        <tr>
                            <td>{{ watering.date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}
